* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: white; }

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0px; 
  font-size: 100%;}

.table-box {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-right: 5px;
  margin-bottom: 5px; }

table.asst-table {
  border: 2px solid black;
  border-collapse: separate;
  border-spacing: 20px 10px; }
  table.asst-table td {
    white-space: nowrap;
    word-break: break-all; }

a {
    color: #4459e2;
	text-decoration: none;
}
a:visited {
    color: #224d93; }

a.course-link {
	display: block;
	font-size: 120%;
	padding-left: 20px;
  	color: #4459e2;
}

/*p {margin-left: 20px}*/

html {margin-left: 20px; margin-top:20px; margin-right:20px; background: white}
/*body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size:80%;line-height:140%;margin:0px;background: #ffffff;}*/
/*table{ font-size:100% }*/
